# Ignore Mac system files
.DS_store

# Ignore node_modules folder
node_modules

# Ignore all text files
*.txt

# Ignore files related to API keys
.env

# Ignore executable files.
*.exe

# Ignore MP4s and FLVs.

*.flv
*.mp4